<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="icon" th:href="@{/img/icon.png}" type="image/x-icon" />
  <title>Lista sitios</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
</head>
<body>
<div class="main">
  <div th:insert="~{fragments/navbar.html :: navbar}"></div>
</div>
<main>
  <!-- Contenido -->
  <div class="page-header text-center">
    <h1>Lista Sitios</h1>
  </div>
  <div class="container px-4 py-5">
    <div class="alert alert-danger" role="alert" th:if="${msg != null}" th:text="${msg}">
      A simple primary alert—check it out!
    </div>
    <div class="container-fluid">
      <a class="btn btn-primary mt-4 mb-4" th:href="@{/sitios/nuevo}">Nuevo Sitio</a>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Locacion</th>
        <th>Fecha de instalación</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="sitio, info : ${listaSitio}">
        <td th:text="${sitio.siteName}"></td>
        <td th:text="${sitio.locationID.country + ' - ' + sitio.locationID.city}"></td>
        <td th:text="${sitio.installationDate}"></td>
        <td th:text="${sitio.latitude}"></td>
        <td th:text="${sitio.longitude}"></td>

        <td><a class="btn btn-primary" th:href="@{'/sitios/editar?id=' + ${sitio.id}}">Editar</a></td>
        <td><a class="btn btn-danger"
               th:href="@{'/sitios/delete?id=' + ${sitio.id}}">Borrar</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
</body>
</html>